*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}
/* body part */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(92, 97, 95);
    color: rgba(17, 1, 1, 0.938)
    
    }
    /* header part */
header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}
/* display form */
#task-form {
    display: flex;
}
input, button {
    appearance: none;
    border: none;
    background: none;
    outline: none;

}
#new-task {
    flex: 1 1 0%;
    background-color: rgb(241, 235, 160);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: black;
    font-size: 1.25rem;
}
#new-task::placeholder {
/* color: aqua; */
}
#task-submit {
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;

}
#task-submit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0%;
    /* background-color: rgb(241, 235, 160); */
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;


}
.task-list{
    padding: 1rem;
}
.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(2, 26, 26);
    margin-bottom: 1rem;
}
#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

}
#tasks .task .content{
    flex: 1 1 0%;
}
#tasks .task .content .text{
    color: black;
    font-size: 1.5rem;
    width: 100%;
    display: block;
    transition: 0.4s;

}
#tasks .task .content .text  :not(:read-only){
    color: black;
}
#tasks .task .action{
    display: flex;
    margin: 0 -0.5rem;
}
/* task button */
.task .action button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
/* edit button */
.task .action .edit{
    background-color: rgb(117, 108, 124);
}
/* delete button */
.task .action .delete{
    background-color: rgb(252, 182, 200);
}





